@@ -1,23 +0,0 @@
# Bot Token [Required]
BOT_TOKEN= "MTE0NjI5MDcxMjYwMjc1OTE3OA.G9Ptgp.gTC-NFLhYUwp1bYVO4aumDqAFfPFBaQoSphEeA"

# Mongo Database Connection String [Required]
MONGO_CONNECTION= mongodb+srv://revelk:<revelk2>@cluster0.lwv01nt.mongodb.net/

# Webhooks [Optional]
ERROR_LOGS=
JOIN_LEAVE_LOGS=

# Dashboard [Required for dashboard]
BOT_SECRET=
SESSION_PASSWORD=

# Required for Weather Command (https://weatherstack.com)
WEATHERSTACK_KEY=

# Required for image commands (https://strangeapi.fun/docs)
STRANGE_API_KEY=

# SPOTFIY [Required for Spotify Support]
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=